body{
 color: #444;
 background-color: #f5f5f5;
 font-family: arial;
 margin: 1em 15%;
}

hr{
 color: #999;
 background-color: #999;
 border-style: solid;
}

p{
 text-align: justify;
}

pre.example{
 border: 1px solid #999;
 background-color: #eee;
 margin: 1em;
 padding: 1em;
}

dd{
 padding: 0.5em;
}

code{
 color: #111;
}

a code{
 color: #00f;
}

h1.section, h2.section, h3.section, h4.section, h5.section, h6.section{
 color: #111;
}

h1.chapter, h2.chapter, h3.chapter, h4.chapter, h5.chapter, h6.chapter{
 color: #111;
}

.node a{
 text-decoration: none;
}

a:visited{
 color: #00f;
}

